Total Sales per Product

In [2]:
from pyspark.sql.functions import year

yearly_sales = df.withColumn("Year", year(col("Date"))) \
    .groupBy("Year", "Product") \
    .agg(spark_sum("Total_Sales").alias("Yearly_Total_Sales"))

yearly_sales.show()

NameError: name 'df' is not defined

In [1]:
from pyspark.sql.functions import col, sum as spark_sum

# Calculate total sales per product
total_sales_per_product = df.groupBy("Product") \
    .agg(spark_sum(col("Quantity") * col("Price")).alias("Total_Sales"))

total_sales_per_product.show()

NameError: name 'df' is not defined