Convert txt file to CSV:

In [2]:
import pandas as pd

#sample data in dic format

data = {
    "Date": [
         "2023-01-01", "2023-01-01", "2023-01-02", "2023-01-02",
        "2023-01-03", "2023-01-03", "2023-01-04", "2023-01-05",
        "2023-01-05", "2023-01-06", "2023-01-06", "2023-01-07",
        "2023-01-07", "2023-01-08", "2023-01-08"
    ],
    "Product": [
        "Widget A", "Widget B", "Widget A", "Widget C", 
        "Widget A", "Widget B", "Widget C", "Widget A", 
        "Widget B", "Widget D", "Widget E", "Widget A", 
        "Widget C", "Widget D", "Widget B"
    ],
    "Quantity": [
        10, 5, 8, 3, 15, None, 7, 10, 10, 5, 3, 12, 6, 8, 10
    ],
     "Price": [
        15.5, 20.0, 15.5, 25.0, None, 20.0, 25.0, 15.5, 
        20.0, 30.0, 40.0, 15.5, 25.0, 30.0, 20.0
    ],

}

#convert dictionary to DataFrame
df = pd.DataFrame(data)

#save DataFrame to csv
df.to_csv("sales_data.csv", index=False)
print("Data saved to 'sales_data.csv'")

Data saved to 'sales_data.csv'

Sales Data Processing

Step 1: Data Ingestion

In [3]:
import pandas as pd

#load data from csv
data = pd.read_csv("sales_data.csv")

#Display the data
print(data)

          Date   Product  Quantity  Price
0   2023-01-01  Widget A      10.0   15.5
1   2023-01-01  Widget B       5.0   20.0
2   2023-01-02  Widget A       8.0   15.5
3   2023-01-02  Widget C       3.0   25.0
4   2023-01-03  Widget A      15.0    NaN
5   2023-01-03  Widget B       NaN   20.0
6   2023-01-04  Widget C       7.0   25.0
7   2023-01-05  Widget A      10.0   15.5
8   2023-01-05  Widget B      10.0   20.0
9   2023-01-06  Widget D       5.0   30.0
10  2023-01-06  Widget E       3.0   40.0
11  2023-01-07  Widget A      12.0   15.5
12  2023-01-07  Widget C       6.0   25.0
13  2023-01-08  Widget D       8.0   30.0
14  2023-01-08  Widget B      10.0   20.0

tep 2: Data Cleaning

In [4]:
#check for missing values

print(data.isnull().sum())

#Fill missing  'Quantity' with 0, 'Price' with mean, and drop rows with missing 'Date' or 'Product'
data['Quantity'].fillna(0, inplace=True)
data['Price'].fillna(data['Price'].mean(), inplace=True)
data.dropna(subset=['Date','Product'], inplace=True)

#Remove duplicates
data.drop_duplicates(inplace=True)

#Verify the cleaning
print(data.isnull().sum())

Date        0
Product     0
Quantity    1
Price       1
dtype: int64
Date        0
Product     0
Quantity    0
Price       0
dtype: int64

C:\Users\hmdkr\AppData\Local\Temp\ipykernel_6000\1428300258.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Quantity'].fillna(0, inplace=True)
C:\Users\hmdkr\AppData\Local\Temp\ipykernel_6000\1428300258.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Price'].fillna(data['Price'].mean(), inplace=True)

In [5]:
#  group by function
grouped = data.groupby("Product")
print(grouped["Quantity"].sum())

Product
Widget A    55.0
Widget B    25.0
Widget C    16.0
Widget D    13.0
Widget E     3.0
Name: Quantity, dtype: float64

In [7]:
data.groupby('Product')['Quantity'].mean()

Product
Widget A    11.000000
Widget B     6.250000
Widget C     5.333333
Widget D     6.500000
Widget E     3.000000
Name: Quantity, dtype: float64

In [ ]:
# astype() function to convert the 'Date' column to datetime and check the data types of the columns in the DataFrame using the dtypes attribute: 

data['Date'] = pd.to_datetime(data['Date'])
print(data.dtypes)

Date        datetime64[ns]
Product             object
Quantity           float64
Price              float64
dtype: object

In [9]:
data.describe(include= 'all')

                       Date   Product   Quantity      Price
count                    15        15  15.000000  15.000000
unique                  NaN         5        NaN        NaN
top                     NaN  Widget A        NaN        NaN
freq                    NaN         5        NaN        NaN
mean    2023-01-04 12:48:00       NaN   7.466667  22.642857
min     2023-01-01 00:00:00       NaN   0.000000  15.500000
25%     2023-01-02 12:00:00       NaN   5.000000  17.750000
50%     2023-01-05 00:00:00       NaN   8.000000  20.000000
75%     2023-01-06 12:00:00       NaN  10.000000  25.000000
max     2023-01-08 00:00:00       NaN  15.000000  40.000000
std                     NaN       NaN   3.907258   6.856771

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      15 non-null     datetime64[ns]
 1   Product   15 non-null     object
 2   Quantity  15 non-null     float64
 3   Price     15 non-null     float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 612.0+ bytes

Step 3: Data Transformation

In [ ]:
#Create a new coulmn for Total sales

data['Total_Sales'] = data['Quantity'] * data['Price']

#Display the transformed data
print(data)

Step 4: Data Analysis

In [ ]:
#Group by product and sum up total sales
product_sales = data.groupby('Product')['Total_Sales'].sum().reset_index()

#Display the sales per product
print(product_sales)

Visualize the total sales per product

In [ ]:
import matplotlib.pyplot as plt 

#Plot total sales per product
plt.figure(figsize=(10, 6))
plt.bar(product_sales['Product'], product_sales['Total_Sales'])
plt.xlabel('Product')
plt.ylabel('Total Sales')
plt.title('Total Sales per Product')
plt.show()

# show by pie chart

In [ ]:
# create a pie chart of total sales per product
plt.figure(figsize=(6, 4))
plt.pie(product_sales['Total_Sales'], labels=product_sales['Product'], autopct='%1.1f%%')
plt.title('Total Sales per Product')
plt.show()

Step 5: Save the Cleaned Data

In [ ]:
#Save the cleaned and processed data to a new csv file

data.to_csv("cleand_sales_data.csv", index=False)

print("Data saved to cleaned_sales_data.csv")